<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- CSS only -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<title>Gestion de stock</title>
</head>
<body>
	<h3 align="center">Tableau des articles</h3>

	<div class="container my-2">

		<div class="card">
			<div class="card-body">
				<form th:action="@{/article/searchLabel}" method="post">

					<label class="col-form-label">Taper un label </label>
					<!-- input type="text" name="padress" class="form-control" id="ProvideAdress"  placeholder="Adresse"-->
					<input type="text" name="label" th:value="${label}" />
					<button class="btn btn-primary" type="submit" value="search">
						<i class="fa fa-search">Chercher Article</i>
					</button>

				</form>
				<div th:switch="${articles}" class="container my-5">
					<p class="my-5">
						<a class="btn btn-primary" th:href="@{/article/add}"><i
							class="fa fa-user-plus" aria-hidden="true">Ajouter Article</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Articles yet</h2>
						<!-- div th:if="${providers==null or providers.empty}"><h2 th:case="null">No Providers yet</h2></div-->
						<div th:case="*">
							<table class="table table-striped" align="center" border="1">
								<tr>
									<th>Label</th>
									<th>Prix</th>
									<th>Provider</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
								<tr th:each="a:${articles}">
									<td th:text="${a.label}"></td>
									<td th:text="${a.price}"></td>
									<td th:text="${a.provider.name}"></td>
									<td><a th:href="@{/article/show/{id}(id=${a.id})}"
										class="btn btn-primary"><i class="fas fa-user-show ml-2"></i>Show
											details</a></td>
									<td><a th:href="@{/article/edit/{id}(id=${a.id})}"
										class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
									<td><a th:href="@{/article/delete/{id}(id=${a.id})}"
										class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>